@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

.left .main-text h1{
    font-size: 3.6rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 1.2;
}
.left .main-text p{
    font-size: 0.9rem;
    font-family: inter;
    font-weight: 400;
    line-height: 1.2;
    width: 80%;
}
